<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:coral">
    
    <form action="http://localhost:8080/getHome" method="get">
<div style="text-align: center; color: azure;" >
    <br>
    <br>
    <label >ID</label>
    <input type="text" name="id">
    <br>
    <br>
    <label >First Name</label>
    <input type="text" name="firstName">
    <br>
    <br>
    
    <label >Last Name</label>
    <input type="text" name="lastName">
    <br>
    <br>
    <label >Adress</label>
    <input type="text" name="adress">
    <br><br>

    <input type="submit" value="submit">

</div>

    </form>
</body>
</html>